@import url(./css/reset.css);
@import url(./css/typography.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

html {
  font-size: 62.5%;
}
:root {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --background: #252422;
  --dimmed: #403d39;
  --high-contrast: #eb5e28;
  --font-shade: #ccc5b9;
  --font-base: #fffcf2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--background);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  color: var(--font-base);
  position: relative;
}
